.App {
  text-align: center;
  background-color:grey;
  padding: 20px;
  margin: 40px;
  border-radius: 10px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.editview-container {
}
/* 
.mainview-container {

  width: 200px;
  display: flex;
  align-content: center;
  flex-direction: column;

} */

.item-container {
  border-radius: 10px;
  background-color: aquamarine;

}

/* .item-information-container{
  justify-self: flex-start ;
} */
